[Unit]
Description=Raspberry Pi Voice Assistant
After=network-online.target sound.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/bogdan/GitHub/LLMRPiAssistant/rpi-assistant
ExecStart=/opt/venvs/rpi-assistant/bin/python -m app
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

# Environment variables
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
